@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

footer{
    background-color:#D9D9D9;
}
.copy p{
    font-size: 1rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}