@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// --------------PAGE ACCUEIL-----------------

.bg-accueil{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}
.text-accueil{
    padding-left: 30px;
    text-align: center;
}

.play-accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img-pacman{
        width: 40%; 
    }
}
.img-pacman img{
    width: 50%;
}

// --------------PAGE TEAM-----------------
.bg-team{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}
.team-text h2{
    color: #22F93B;
}
.team-text p{
    text-align: center;
}
.team-cards{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.card-perso{
    background-color:#D9D9D9;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 25px;
    width: 30%;
    max-width: 20vh;
    transition: all 0.3s ease;
    border-radius: 5px;
    height: 50vh;
    position: relative;
}
.card-perso:hover{
    background-color: #22F93B;
    box-shadow: 2px 2px 2px 2px #22F93B;
}
.card-perso p{
    color: black;
    font-size: 1.5rem;
}
.card-img{
    width: 70%;
    justify-self: center;
    
}
.card-perso img{
    width: 100%;
    height: 20vh;
    align-items: center;
    margin-top: 15px;
}
.checkbox{
    position: absolute;
    top: 5px;
    left: 80px;
    }
.remenber{
    color: #CCB92E;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 7%;
}


// --------------PAGE GAME-----------------

.bg-game1{
    background-image: url(../../../img/bg_violet.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 2%;
}
.fight h2{
    color: white;
    margin-top: 35%;
    margin-bottom: 55%;
    font-size: 3rem;
}
.teams{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.team{
    margin: auto;
    display: flex;
    width: 40%;
}
.perso{
    width: 50%;
}
.perso img{
    width: 80%;
    height: 20vh;
}
.equipe{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    background-color: #ff1f82;
    padding: 10px;
    border: 3px solid #00b6ff;
}
.log{
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 3px solid #00b6ff;
    background-color: #5f0078;
    scroll-behavior: auto;
    overflow-y: scroll;
    max-height: 40vh;
    margin-top: 2%;
}
.equipe li{
    color: white;
}
.log li{
    font-size: 1rem;
    list-style: none;
}
.equipe h4{
    color:white;
    margin: 5px;
}
.win h3{
    color:#22F93B;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

// --------------PAGE CONNEXION-----------------

.bg-connexion{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 10%;
}

.bg-connexion h2{
    color: #22F93B;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 3rem;
}
// Message d'alerte
.alert-success{
    color: #ff1f82;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 700;
}
.connect{
    text-align: center;
}

label{
    color: white;
}

.mb-3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.password{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;  
}

// --------------PAGE INSCRIPTION-----------------
.bg-register{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 10%;
}

#register{
    text-align: center;
}

.form-user h2{
    color: #22F93B;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 3rem;
}

.form-user a{
    color: #22F93B; 
    transition: all 0.3s ease;
    // text-decoration: none;
}

.form-user a:hover{
    color: white;
}

.form-user p{
    text-align: center;
}

.form-user input{
    margin-top: 20px;
}

// --------------PAGE WAIT-----------------
.bg-wait{
    background-image: url(../../../img/bg_lunebleu.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}
