@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// --------------PAGE ACCUEIL-----------------

.bg-accueil{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}
.text-accueil{
    padding-left: 30px;
}

.play-accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img-pacman{
        width: 40%; 
    }
}
.img-pacman img{
    width: 50%;
}

// --------------PAGE TEAM-----------------
.bg-team{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}
.team-text h2{
    color: #22F93B;
}
.team-text p{
    text-align: center;
}
.team-cards{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.card-perso{
    background-color:#D9D9D9;
    text-align: center;
    padding: 20px 10px;
    width: 30%;
}
.card-perso p{
    color: black;
}
.card-img{
    width: 80%;
    justify-self: center;
}
.card-perso img{
    width: 100%;
    height: 20vh;
    align-items: center;
}
.remenber{
    color: #CCB92E;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 7%;
}


// --------------PAGE GAME-----------------

.bg-game1{
    background-image: url(../../../img/bg_violet.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.fight h2{
    color: white;
    margin-top: 20%;
    margin-bottom: 30%;
    font-size: 3rem;
}
.teams{
    display: flex;
    justify-content: space-between;
}

// --------------PAGE CONNEXION-----------------

.bg-connexion{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.bg-connexion h2{
    color: #22F93B;
    margin-top: 10%;
    margin-bottom: 30%;
    font-size: 3rem;
}

label{
    color: white;
}

.mb-3{
    text-align: center;
    margin: 20px;    
}

.password{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;  
}

// --------------PAGE S'INSCRIRE-----------------
.bg-register{
    background-image: url(../../../img/bg_noir.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.form-user h2{
    text-align: center;
}
.form-user a{
    color: #22F93B; 
    transition: all 0.3s ease;
    // text-decoration: none;
}
.form-user a:hover{
    color: white;
}
