{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	<div class="equipe-section">
		<h3>Équipe A</h3>
		{{ form_widget(form.equipeA) }}
		{{ form_errors(form.equipeA) }}
	</div>


	<button type="submit" class="btn btn-primary mt-3">Lancer le combat !</button>
	{# {% for message in app.flashes.error %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %} #}
{% endblock %}
