{% extends "base.html.twig" %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<section class="bg-register">
	<div class="container">
		<div class="form-user">
			<h2>Inscris-toi</h2>
			
			{{ form_start(Register) }}
				{{ form_widget(Register) }}
				<button type="submit" class="btn-register">S'inscrire</button>
			{{ form_end(Register) }}
			
			<p>Vous avez déjà un compte ? <a class="" href="{{ path('app_login') }}">Se connecter</a></p>
		</div>
	</div>
</section>
{% endblock %}
