@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// PAGE ACCUEIL
.btn-jouer{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FA00FF;
}
.btn-jouer:hover{  
    background-color: white;
}

// PAGE CONNEXION
.btn-lg{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
    background-color:#ff1f82;
    margin-top: 2%;
}
.btn-lg:hover{  
    background-color: white;
}
// PAGE INSCRIPTION
.btn-register{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
    background-color:#ff1f82;
    margin-top: 3%;
}
.btn-register:hover{  
    background-color: white;
}

// PAGE TEAM
.btn-primary{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
    background-color:#ff1f82;
    margin-bottom: 3%;
}
.btn-primary:hover{  
    background-color: white;
}