@use "../abstracts/variables" as var;

body {
    font-family: var.$police-principale;
    margin: 0;
}

h1{
    font-size: 3rem;
    font-family: var.$police-principale;
    text-transform: uppercase;
    color: #CCB92E;
    margin-top: 5%;
    text-align: center;
}

h2{
    font-family: var.$police-principale;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

h3{
    font-size: 2.3rem;
    font-weight: 800;
}

h4{
    font-size: 2rem;
    font-weight: 800;
}

h5{
    font-size: 1.3rem;
    text-transform: uppercase;
}

p{
    font-family: var.$police-principale;
    color: var.$couleur-principale;
    font-size: 2rem;
}
strong{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}