@font-face {
    font-family: "Orbitron";
    src: url(../../../fonts/Orbitron/Orbitron-VariableFont_wght.ttf);

    font-family: "Electrolize";
    src: url(../../../fonts/Electrolize/Electrolize-Regular.ttf);
}