@font-face {
    font-family: "Orbitron";
    src: url(../../../fonts/Orbitron/static/Orbitron-Regular.ttf);

    font-family: "Electrolize";
    src: url(../../../fonts/Electrolize/Electrolize-Regular.ttf);
}